node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.log
# Never commit wallet keypairs
id.json
*.keypair.json
banner.svg
make-banner.js
config.json
/assets/
generate-nfts.js
make-dexscreener-header.js
make-realms-banner.js
